@import "bootstrap-icons";
* {
	margin: 0;
	padding: 0;
	flex-grow: 0;
	flex-shrink: 0;
	--border-color: #252525;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
*::-webkit-scrollbar {
	display: none;
}
body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
hr {
	color: var(--border-color);
	background-color: var(--border-color);
	border-color: var(--border-color);
	height: 1px;
}
[aria-current=true] {
	background-color: rgb(39, 66, 66) !important;
}