@media (prefers-color-scheme: dark) {
 body {
   background-color: black;
   color: white;
   font-family: sans-serif;
   overflow: hidden;
  }
  .one {
   display: flex;
  }
  .two {
   flex: 1;
   border: 1px solid white;
   overflow-x: hidden;
   overflow-y: scroll;
  }
  iframe {
   transform: scale(0.4946);
   transform-origin: 0 0;
   position: fixed;
   top: calc(100% - 547px);
   border: 3px solid white;
   width: 1920px;
   height: 1080px;
  }
}
@media (prefers-color-scheme: light) {
 body {
   background-color: white;
   color: black;
   font-family: sans-serif;
   overflow: hidden;
  }
  .one {
   display: flex;
  }
  .two {
   flex: 1;
   border: 1px solid black;
   overflow-x: hidden;
   overflow-y: scroll;
  }
  iframe {
   transform: scale(0.4946);
   transform-origin: 0 0;
   position: fixed;
   top: calc(100% - 547px);
   border: 3px solid black;
   width: 1920px;
   height: 1080px;
  }
}
li {
 user-select: none;
 cursor: pointer;
 padding-top: 7.5px;
 padding-bottom: 7.5px;
}
li:hover {
 background-color: rgba(56, 93, 57, 0.703) !important;
}
li.selected{
 background-color: rgba(56, 68, 93, 0.703);
}
div.songcontainer {
 height: calc(100vh - 556px)
}
div.lyriccontainer {
 height: calc(100vh - 20px);
 margin-left: -1px
}
li.lyriclistitem::first-line {
 font-size: large;
 font-weight: 700 !important;
 color:green;
}
li.songlistitem {
 font-size: large;
 font-weight: 700 !important;
 color: green;
}
hr {
 margin: 0px;
}