@import "bootstrap-icons";

body {
  --border-color: #222222;
  --window-background-color: #17171795;
  --background-color: #000000;
  --item-background-color: #232323c5;
  --item-hover-background-color: #272727c5;
  --item-current-background-color: #353535c5;
  --color: white;

  &.ew {
    --border-color: #000000;
    --window-background-color: #ffffff95;
    --background-color: #ffffff;
    --item-background-color: #f0f0f0c5;
    --item-hover-background-color: #d5d5d5c5;
    --item-current-background-color: #aaaaaac5;
    --color: black;
  }

  &.solarized {
    --border-color: #002b36;
    --window-background-color: #002b3695;
    --background-color: #002b36;
    --item-background-color: #073642c5;
    --item-hover-background-color: #384e55c5;
    --item-current-background-color: #637476c5;
    --color: #93a1a1;
  }

  &.ayu {
    --border-color: #3f4042;
    --window-background-color: #0f141995;
    --background-color: rgb(13, 17, 21);
    --item-background-color: rgba(26, 29, 35, 0.77);
    --item-hover-background-color: rgba(49, 51, 56, 0.77);
    --item-current-background-color: rgba(62, 64, 66, 0.77);
    --color: #f0f0f0;
  }

  background: var(--background-color);
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
* {
  margin: 0;
  padding: 0;
  color: var(--color);
  border: none;
  transition:
    color 300ms,
    background 300ms;
}

a {
  color: rgb(200, 200, 255);
}

button.item,
div.item {
  text-align: left;
  font-size: 18px;
  font-weight: 250;
  background: var(--item-background-color);
  margin: 0 8px 0 8px;
  border-bottom: var(--border-color) 1px solid;
  border-top: var(--border-color) 1px solid;
  padding: 8px;
  white-space: pre;
  transition: background-color 200ms;
  &:first-child {
    border-top: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 8px;
  }
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 8px;
  }
  &:first-line {
    font-size: 25px;
    font-weight: normal;
  }
  &:hover {
    background: var(--item-hover-background-color);
  }
  &.current {
    background: var(--item-current-background-color);
  }
}
div.glass,
button.glass {
  background: var(--window-background-color);
  border: var(--border-color) 1px solid;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes stack-in {
  from {
    opacity: 0;
    transform: scale(50%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes stack-out {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0;
    transform: scale(200%);
  }
}

@keyframes reverse-stack-in {
  from {
    opacity: 0;
    transform: scale(200%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes reverse-stack-out {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0;
    transform: scale(50%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50vw);
  }
}

@keyframes reverse-slide-in {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes reverse-slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

@keyframes scroll-in {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scroll-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50vh);
  }
}

@keyframes reverse-scroll-in {
  from {
    opacity: 0;
    transform: translateY(-50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes reverse-scroll-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50vh);
  }
}

@keyframes rotate-in {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rotate-out {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
